<%- include("partials/header") %>

<div class="max-w-xl mx-auto py-8">
  <div class="max-w-xl shadow-md shadow-green-200/50 rounded-md p-6 bg-white mx-auto flex justify-center items-center gap-8">
    <h2 class="text-3xl font-bold text-green-600 leading-none pb-1"><%= profileUser.username %></h2>
    <div class="self-stretch border-r-2 border-amber-200 my-1"></div>
    <% numFollowers = profileUser._count.followers %>
    <p class="text-gray-600 leading-none"><%= numFollowers %> <%= numFollowers === 1 ? "follower" : "followers" %></p>
    <!-- FOLLOW/UNFOLLOW BUTTONS -->
    <div>
      <% if (currentUser && currentUser.id !== profileUser.id) { %>
        <% const followBtnClasses = "px-3.5 py-1 rounded-lg transition-colors" %>
        <% if (isFollowing) { %>
          <form action="/users/<%= profileUser.username %>/follow?_method=DELETE" method="POST">
            <button type="submit" class="<%= followBtnClasses %> border border-red-500 text-gray-600 hover:bg-red-600 hover:text-white">Unfollow</button>
          </form>
        <% } else { %>
          <form action="/users/<%= profileUser.username %>/follow" method="POST">
            <button type="submit" class="<%= followBtnClasses %> font-semibold bg-green-600 text-white hover:bg-green-700">Follow</button>
          </form>
        <% } %>
      <% } %>
    </div>
  </div>

  <!-- POST SECTION -->
  <div class="mt-10">
    <% if (profileUser.posts.length > 0) { %>
      <% profileUser.posts.forEach(post => { %>
        <%- include("partials/post", { post: post }) %>
      <% }) %>
    <% } else { %>
      <div class="max-w-xl mx-auto py-10 rounded-xl bg-white text-center border border-gray-100 shadow-sm">
        <p class="text-gray-500 italic"><span class="font-semibold"><%= profileUser.username %></span> has no posts.</p>
      </div>
    <% } %>
  </div>
</div>
